body {
    color: white;
    background-color: #080808;
    text-align: left;
    font-size: 3vmax;
    font-family: Figtree, sans-serif;
    font-stretch: 80%; 
  }
  
  /* Title styles */
  #title {
    width: 80%;
    margin: 10px auto 30px;
    color: #2dd3ff;
    text-align: center;
    background: #101010;
    border-radius: 10px;
    padding: 2px 20px;
  }
  
  /* Container styles */
  #container {
    width: 80%;
    margin: 0 auto;
    display: block; 
    background-color: #101010;
    text-align: left;
    font-size: 30px;
    font-family: Figtree, sans-serif;
    padding: 1%;
    border-radius: 20px;
  }
  
  /* Child container styles */
  #container-child,
  #container-child-last {
    width: 90%;
    margin: 10px auto 30px;
    background-color: #202020;
    padding: 4%;
    border-radius: 10px;
  }
  
  /* Link styles (using shared properties) */
  a:link,
  a:visited {
    color: #2dd3ff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    color: #08b4e1;
    background-color: transparent;
    text-decoration: underline;
  }